.chatWindow {
    box-sizing: border-box;
    padding: 24px;
    color: #707070;
    overflow-y: auto;
}

.timeBlock {
    margin-right: 16px;
}

.messageBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}

.message {
    display: flex;
    margin-bottom: 16px;
}

.userMessageBlock {
    display: flex;
    flex-direction: column;
}

.userMessage {
    box-sizing: border-box;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-left: 1px solid #707070;
}

.messageColor {
    color: #D4D4D4;
}

.tagColor {
    color: #499CD6;
}

.propertyColor {
    color: #9CDCFE;
}

.symbolColor {
    color: #D4D4D4;
}

.valueColor {
    color: #CE9178;
}