.entanceOption {
    box-sizing: border-box;
    padding: 48px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    height: 250px;
    background: #252526;
    box-shadow: 0px 3px 30px #000000;
    color: #D4D4D4;
    font-size: 20;
}