.inputMessageBlock {
    display: grid;
    grid-template-rows: 36px 1fr 48px;
    color: #D4D4D4;
    font-size: 24px;
}

.topBlock {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #303030;
    font-size: 16px;
}

.centerBlock {
    box-sizing: border-box;
    padding: 0px 8px 0px 24px;
    display: flex;
    font-size: 16px;
    overflow-y: auto;
}

.userNameBlock {
    display: flex;
    width: 140px;
}

.userName {
    color: #6A9955;
}

.inputBlock {
    width: calc(100% - 140px);
    overflow-y: auto; 
}

.bottomBlock {
    box-sizing: border-box;
    padding-left: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space:nowrap;
}

.iconGap {
    margin: 0px 8px 0px 24px;
}

.emojiBlock {
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 460px;
    height: 160px;
    background: #434343;
    box-shadow: 0px 3px 20px #000000;
}