.mainBlock {
    text-align: center;
}

.title {
    color: #9CDCFE;
    font-size: 20px;
}

.formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0px 36px 0px;
}