.titleBlock {
    display: flex;
    margin: 4px 0px;
    align-items: center;
}

.title {
    width: 272px;
    text-align: center;
}

.marginGap {
    margin: 0px 8px 24px 8px;
}

.closeSidebar {
    font-size: 28px;
}

.chatMode {
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.createChatRoom {
    @extend .marginGap;
    display: flex;
    align-items: flex-end;
    height: 100%;
}