.titleBlock {
    display: flex;
    margin: 24px 0px;
    align-items: center;
}

.title {
    width: 272px;
    text-align: center;
}

.titleGap {
    margin: 0px 8px;
}

.closeSidebar {
    font-size: 28px;
}